<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=BGHM37009;Initial Catalog=InventoryDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FH.Properties.Settings.InventoryConnectionString"
            connectionString="Data Source=|DataDirectory|\Inventory.sdf"
            providerName="System.Data.SqlClient" />
        <add name="FH.Properties.Settings.ConnectionString" connectionString="Data Source=BGHM37009;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FH.Properties.Settings.InventoryDBConnectionString"
            connectionString="Data Source=BGHM37009;Initial Catalog=InventoryDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>